<div class="container">


    <div class="row mt-4">

        <div class="col m-3">
            <div class="form-group d-flex">
                <label class="btn btn-white text-dark text-nowrap" for="Youtube">Link youtube </label>
                <input class="form-control" value="@ViewBag.Youtube" id="Youtube" />
                <p class="btn btn-success" onclick="SaveLinkYoutube()">Lưu</p>
            </div>
        </div>


        <div class="col m-3">
            <div class="form-group">
                <label class="form-label btn btn-success" for="fileInput">Tải lên</label>
                <a class="btn btn btn-link" download="@ViewBag.FileGame">Tải về</a>
                <input class="d-none" type="file" id="fileInput" />
            </div>
        </div>


    </div>

</div>

<script>

    async function SaveData() {


    }

    function SaveLinkYoutube() {

        let data = new FormData()
        data.append("link", $("#Youtube").val())

        fetch("/admin_ql/save_link?type=Youtube", {
            method: "POST",
            body: data
        })

    }


    const fileInput = document.getElementById('fileInput');

    fileInput.addEventListener('change', function (event) {
        const file = event.target.files[0];
        const chunkSize = 1024 * 1024 * 25; // 25MB
        let offset = 0;
        $('#preloader').fadeIn();
        function uploadNextChunk() {
            if (offset < file.size) {
                const chunk = file.slice(offset, offset + chunkSize);
                uploadChunk(chunk, offset, file.name);
                offset += chunkSize;
            } else {
                $('#preloader').fadeOut();

                let data = new FormData()
                data.append("link", localStorage.getItem("filepath"))
                fetch("/admin_ql/save_link?type=FileGame", {
                    method: "POST",
                    body: data
                })

            }
        }

        function uploadChunk(chunk, offset, filename) {
            const normalizedFilename = filename.toLowerCase().replace(/\s+/g, '_');
            const formData = new FormData();
            formData.append('file', chunk);
            formData.append('offset', offset);
            formData.append('filename', normalizedFilename);

            fetch('/admin_ql/upload_file', {
                method: 'POST',
                body: formData
            }).then(res => res.text())
                .then(res => {
                    console.log(res)
                    localStorage.setItem("filepath", `/${res}`)
                }).then(uploadNextChunk)
        }

        uploadNextChunk();
    });





</script>