<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RanNetwork</title>
    <link rel="stylesheet"
          data-href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          data-optimized-fonts="true" />
    <link rel="preload"
          href="_next/static/chunks/750cd0e9940a54dd4a7a0dc6241a730a102d9ca1.067a53a8bbc6ff52750a.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/framework.349d8128c43083da4feb.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/0a6e12db.5d9cdc21b7f2af60bb16.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/d64684d8.b4e25b8691bf1ffc8e6d.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/eb572b340d9a79be2b5c81e176ba884b802d9986.f64d22b9b131725d0d2c.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/58.f4709e329c74c3c1cfd6.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/22.f54194d4b1092dc12c42.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/1bfc9850.8bd9ac95c5ba74c391ab.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/73.423d6309d9755b61a21f.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/webpack-be557e54df95694bc380.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/framework.349d8128c43083da4feb.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/239e99aec51195d7cc92e5416656a5b8e911b68e.68b683f2c546ffb2b0d8.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/881007d237bfe8cb32e6f629d29666f4e66d08b4.3158791e0e98ffbfa481.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/main-112de42e569e8cd17969.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/0a6e12db.5d9cdc21b7f2af60bb16.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/b7ba4cc127b32a50535aa7b4d73faece02fe9964.4d87ed519f1c2378a061.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/d332fe6fa2f00686838febd58e6153d56b21448c.2b5575035efffb0bace5.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/f424dcdf4d20f636129ffc0e8df67be82911280a.0820bdcceb4b2296b452.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/eb572b340d9a79be2b5c81e176ba884b802d9986.f64d22b9b131725d0d2c.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/pages/_app-dfcb764fa54fef4fcc65.js"
          as="script" />
    <link rel="preload"
          href="_next/static/chunks/pages/index-ab7917d778c6ef986edd.js"
          as="script" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/download.css" rel="stylesheet" />
</head>
<body>

    @RenderBody()
    <script id="__NEXT_DATA__"
            type="application/json">{"props":{"pageProps":{}},"page":"/","query":{},"buildId":"0YDSeC7_VRVNetgOJ3QJQ","nextExport":true,"autoExport":true,"isFallback":false,"dynamicIds":["w26t","no9A","Ws+9","owxl"]}</script>
    <script nomodule
            src="_next/static/chunks/polyfills-118a16779f6891a14ce5.js"></script>
    <script async
            src="_next/static/chunks/750cd0e9940a54dd4a7a0dc6241a730a102d9ca1.067a53a8bbc6ff52750a.js"></script>
    <script async
            src="_next/static/chunks/d64684d8.b4e25b8691bf1ffc8e6d.js"></script>
    <script async
            src="_next/static/chunks/58.f4709e329c74c3c1cfd6.js"></script>
    <script async
            src="_next/static/chunks/22.f54194d4b1092dc12c42.js"></script>
    <script async
            src="_next/static/chunks/1bfc9850.8bd9ac95c5ba74c391ab.js"></script>
    <script async
            src="_next/static/chunks/73.423d6309d9755b61a21f.js"></script>
    <script src="_next/static/chunks/webpack-be557e54df95694bc380.js"
            async></script>
    <script src="_next/static/chunks/framework.349d8128c43083da4feb.js"
            async></script>
    <script src="_next/static/chunks/239e99aec51195d7cc92e5416656a5b8e911b68e.68b683f2c546ffb2b0d8.js"
            async></script>
    <script src="_next/static/chunks/881007d237bfe8cb32e6f629d29666f4e66d08b4.3158791e0e98ffbfa481.js"
            async></script>
    <script src="_next/static/chunks/main-112de42e569e8cd17969.js"
            async></script>
    <script src="_next/static/chunks/0a6e12db.5d9cdc21b7f2af60bb16.js"
            async></script>
    <script src="_next/static/chunks/b7ba4cc127b32a50535aa7b4d73faece02fe9964.4d87ed519f1c2378a061.js"
            async></script>
    <script src="_next/static/chunks/d332fe6fa2f00686838febd58e6153d56b21448c.2b5575035efffb0bace5.js"
            async></script>
    <script src="_next/static/chunks/f424dcdf4d20f636129ffc0e8df67be82911280a.0820bdcceb4b2296b452.js"
            async></script>
    <script src="_next/static/chunks/eb572b340d9a79be2b5c81e176ba884b802d9986.f64d22b9b131725d0d2c.js"
            async></script>
    <script src="_next/static/chunks/pages/_app-dfcb764fa54fef4fcc65.js"
            async></script>
    <script src="_next/static/chunks/pages/index-ab7917d778c6ef986edd.js"
            async></script>
    <script src="_next/static/0YDSeC7_VRVNetgOJ3QJQ/_buildManifest.js"
            async></script>
    <script src="_next/static/0YDSeC7_VRVNetgOJ3QJQ/_ssgManifest.js"
            async></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
