

<div id="__next">
    <div class="_app___StyledDiv-sc-2mmj0v-1 fAEomL">
        <div class="_app___StyledDiv4-sc-2mmj0v-4 hDsZLu">
            <div class="_app___StyledNav-sc-2mmj0v-0 YXpOG">
                <div>
                    <nav class="Nav___StyledNav-sc-9w6upq-10 iMIMCF">
                        <div class="Nav___StyledDiv-sc-9w6upq-11 fDJaBa">
                            <div class="Nav___StyledDiv2-sc-9w6upq-12 cANKTl">
                                <img src="/images/dapp/rxc-gold.png" alt
                                     class="Nav___StyledImg2-sc-9w6upq-14 bZlwYp" />
                            </div><button class="Nav__Menu-sc-9w6upq-0 Nav___StyledMenu-sc-9w6upq-2 edfLRb bExZmZ cursor-hover"
                                          type="button" aria-expanded="false"
                                          id="headlessui-popover-button-undefined">
                                <span class="Nav___StyledSpan-sc-9w6upq-16 ctLvVN">
                                    Open
                                    menu
                                </span><svg stroke="currentColor"
                                            fill="currentColor" stroke-width="0"
                                            viewBox="0 0 20 20"
                                            class="Nav___StyledHiMenu-sc-9w6upq-17 cXbtTf"
                                            height="1em" width="1em"
                                            xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </button><div class="Nav___StyledDiv4-sc-9w6upq-18 kfBKWA">
                                <a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                   href="/">Home</a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cNLogg cursor-hover"
                                                       href="/dapp/downloads/">Downloads</a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                                                                               href="https://app.ran.network/">
                                    Migrate
                                    Now!
                                </a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                       href="/dapp/marketplace/?page=1&amp;orderBy=newest&amp;filterBy=all&amp;school=all&amp;gender=all&amp;chaClass=all&amp;alumni=false">Marketplace</a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                                                                                                                                                                              href="/dapp/remote/coupling/?page=1&amp;orderBy=newest&amp;school=all&amp;gender=all&amp;chaClass=all&amp;alumni=false">
                                    Remote
                                    Coupling
                                </a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                       href="/dapp/shop/">Shop</a><a class="Nav__NavMenu-sc-9w6upq-6 Nav___StyledNavMenu-sc-9w6upq-7 dBiiqq cursor-hover"
                                                                     href="/dapp/ranking/">Rankings</a><div class="Nav___StyledDiv5-sc-9w6upq-19 cFFnUx">
                                    <div>
                                        <button class="Nav__WalletBtn-sc-9w6upq-8 fulsEU cursor-hover">
                                            CONNECT
                                            TO
                                            WALLET
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav><div class="HorizontalGold___StyledDiv-sc-nkyp02-0 gPzcDI"></div>
                </div>
            </div><div class="_app___StyledDiv5-sc-2mmj0v-5 hKQOzX">
                <main class="downloads___StyledMain-sc-yq50n5-0 jqzuja">
                    <div class="downloads___StyledDiv-sc-yq50n5-1 kcbPnT">
                        Download
                        RxC Client
                    </div><div class="downloads___StyledDiv2-sc-yq50n5-2 ehuJmh">
                        <a href="https://drive.google.com/file/d/10bB4pDDmEb0806iuBLGKCST0Mf-JFrLY/view"
                           target="_blank"
                           class="downloads___StyledA-sc-yq50n5-3 hUpsBX cursor-hover">
                            <img src="/images/download/gdrive.png" alt
                                 class="downloads___StyledImg-sc-yq50n5-4 epwrQz" /><div class="downloads___StyledDiv3-sc-yq50n5-5 eaGRNW">
                                Google
                                Drive
                            </div>
                        </a><a href="https://mega.nz/file/ubBHnZjJ#JhDkbtJm3a2kQ4rxFmuD0JzeL0CBTq6GWN7SN3BgzqY"
                               target="_blank"
                               class="downloads___StyledA-sc-yq50n5-3 hUpsBX cursor-hover">
                            <img src="/images/download/mega.png" alt
                                 class="downloads___StyledImg-sc-yq50n5-4 epwrQz" /><div class="downloads___StyledDiv3-sc-yq50n5-5 eaGRNW">
                                Mega
                            </div>
                        </a><a href="https://www.mediafire.com/file/jak0vr8dgq9s4i9/RxC-MainClient_v1.exe/file"
                               target="_blank"
                               class="downloads___StyledA-sc-yq50n5-3 hUpsBX cursor-hover">
                            <img src="/images/download/mediafire.png" alt
                                 class="downloads___StyledImg-sc-yq50n5-4 epwrQz" /><div class="downloads___StyledDiv3-sc-yq50n5-5 eaGRNW">
                                Mediafire
                            </div>
                        </a>
                    </div><div class="downloads___StyledDiv4-sc-yq50n5-6 itGCpS">
                        <div class="Gleam___StyledDiv-sc-ur8h8k-5 hWdLHJ">
                            <button class="Gleam___StyledButton-sc-ur8h8k-6 eXFSE cursor-hover">
                                <img src="/logo/coupling_comp.png" alt
                                     class="Gleam___StyledImg-sc-ur8h8k-7 kvvKfa" /><span style="width:100%;height:100%;overflow:visible;position:absolute;top:-20px;left:-20px;pointer-events:none">
                                    <canvas></canvas>
                                </span>
                            </button><button class="Gleam___StyledButton2-sc-ur8h8k-8 cQuOus cursor-hover">
                                <img src="/logo/bridge.png" alt
                                     class="Gleam___StyledImg2-sc-ur8h8k-9 eMUnBS" /><span style="width:100%;height:100%;overflow:visible;position:absolute;top:-20px;left:-20px;pointer-events:none">
                                    <canvas></canvas>
                                </span>
                            </button>
                        </div>
                    </div><div class="downloads___StyledDiv5-sc-yq50n5-7 gsWYeE">
                        <div class="downloads___StyledDiv6-sc-yq50n5-8 bIuchx">
                            <h3 class="downloads___StyledH-sc-yq50n5-9 eJUeZM">
                                System
                                Requirements
                            </h3><p class="downloads___StyledP-sc-yq50n5-10 gQrpea">
                                These
                                are the minimum system requirements for
                                installing RxC Client on a Windows
                                PC.
                            </p>
                        </div><div class="downloads___StyledDiv7-sc-yq50n5-11 qpsHr">
                            <dl>
                                <div class="downloads___StyledDiv9-sc-yq50n5-15 hIYtyK">
                                    <dt class="downloads___StyledDt2-sc-yq50n5-16 hgjryw">CPU</dt><dd class="downloads___StyledDd2-sc-yq50n5-17 cOSiOg">
                                        Dual
                                        Core and above
                                    </dd>
                                </div>
                                <div class="downloads___StyledDiv8-sc-yq50n5-12 gOYnmE">
                                    <dt class="downloads___StyledDt-sc-yq50n5-13 hSiJeX">Memory</dt><dd class="downloads___StyledDd-sc-yq50n5-14 lkqIp">
                                        4GB
                                        and above
                                    </dd>
                                </div>
                                <div class="downloads___StyledDiv9-sc-yq50n5-15 hIYtyK">
                                    <dt class="downloads___StyledDt2-sc-yq50n5-16 hgjryw">GPU</dt><dd class="downloads___StyledDd2-sc-yq50n5-17 cOSiOg">
                                        Nvidia
                                        GTX 250
                                    </dd>
                                </div>
                                <div class="downloads___StyledDiv8-sc-yq50n5-12 gOYnmE">
                                    <dt class="downloads___StyledDt-sc-yq50n5-13 hSiJeX">OS</dt><dd class="downloads___StyledDd-sc-yq50n5-14 lkqIp">
                                        Window
                                        7 (64bit) and
                                        above
                                    </dd>
                                </div>
                                <div class="downloads___StyledDiv9-sc-yq50n5-15 hIYtyK">
                                    <dt class="downloads___StyledDt2-sc-yq50n5-16 hgjryw">
                                        Direct
                                        X
                                    </dt><dd class="downloads___StyledDd2-sc-yq50n5-17 cOSiOg">
                                        DirectX9.0a
                                        or higher
                                    </dd>
                                </div>
                                <div class="downloads___StyledDiv8-sc-yq50n5-12 gOYnmE">
                                    <dt class="downloads___StyledDt-sc-yq50n5-13 hSiJeX">
                                        Hard
                                        Disk
                                    </dt><dd class="downloads___StyledDd-sc-yq50n5-14 lkqIp">
                                        50
                                        GB or
                                        less
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>
                </main>
            </div>

            @Html.Partial("_footer")

            <div class="HorizontalGold___StyledDiv-sc-nkyp02-0 gPzcDI"></div>
        </div>
    </div>
</div>
