

<div id="__next">
    <div class="_app___StyledDiv-sc-2mmj0v-1 fAEomL">
        <div class="_app___StyledDiv4-sc-2mmj0v-4 hDsZLu">
            <div class="_app___StyledDiv5-sc-2mmj0v-5 hKQOzX">
                <div>
                    <div class="pages___StyledNav-sc-1bzqwrs-0 dTusym">
                        <div>
                            <nav class="Nav___StyledNav-sc-9w6upq-10 iMIMCF">
                                <div class="Nav___StyledDiv-sc-9w6upq-11 fDJaBa">
                                    <div class="Nav___StyledDiv2-sc-9w6upq-12 cANKTl">
                                        <img src="images/dapp/rxc-gold.png"
                                             alt
                                             class="Nav___StyledImg2-sc-9w6upq-14 bZlwYp" />
                                    </div><button class="Nav__Menu-sc-9w6upq-0 Nav___StyledMenu-sc-9w6upq-2 edfLRb bExZmZ cursor-hover"
                                                  type="button"
                                                  aria-expanded="false"
                                                  id="headlessui-popover-button-undefined">
                                        <span class="Nav___StyledSpan-sc-9w6upq-16 ctLvVN">
                                            Open
                                            menu
                                        </span><svg stroke="currentColor"
                                                    fill="currentColor"
                                                    stroke-width="0"
                                                    viewBox="0 0 20 20"
                                                    class="Nav___StyledHiMenu-sc-9w6upq-17 cXbtTf"
                                                    height="1em" width="1em"
                                                    xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </button><div class="Nav___StyledDiv4-sc-9w6upq-18 kfBKWA">
                                        <a class="Nav__NavMenu-sc-9w6upq-6 dBiiqq cursor-hover"
                                           href>Whitepaper</a><a class="Nav__NavMenu-sc-9w6upq-6 dBiiqq cursor-hover"
                                                                 href="dapp/downloads/index.html">Downloads</a><a class="Nav__NavMenu-sc-9w6upq-6 dBiiqq cursor-hover"
                                                                                                                  href="dapp/index.html">D123123123app</a>
                                    </div>
                                </div>
                            </nav><div class="HorizontalGold___StyledDiv-sc-nkyp02-0 gPzcDI"></div>
                        </div>
                    </div><main>
                        <section class="pages___StyledSection-sc-1bzqwrs-1 kMqjRy">
                            <div class="pages___StyledDiv-sc-1bzqwrs-2 byXlXh">
                                <div class="pages___StyledDiv2-sc-1bzqwrs-3 jXuSZW">
                                    <img src="images/onepager/logo-gold.png"
                                         alt
                                         class="pages___StyledImg-sc-1bzqwrs-4 fXKWYV" /><img src="images/onepager/rxc-word.png"
                                                                                              alt
                                                                                              class="pages___StyledImg2-sc-1bzqwrs-5 eRyqeo" /><div class="pages___StyledDiv3-sc-1bzqwrs-6 epTYji">
                                        <span class="pages___StyledSpan-sc-1bzqwrs-7 gSlkbT">
                                            THE
                                            NEW ERA OF RAN ONLINE <br />
                                            FEEL THE
                                            NOSTALGIA
                                        </span>
                                    </div>
                                    <a class="group cursor-hover"
                                       id="gameDownload"
                                       href="@ViewBag.FileGame"
                                       download="game">
                                        <img src="images/onepager/download-now.png"
                                             alt
                                             class="pages___StyledImg3-sc-1bzqwrs-8 jbHnYk" />
                                    </a>
                                    <img src="images/onepager/char-left.png"
                                         alt
                                         class="pages___StyledImg4-sc-1bzqwrs-9 kvTqnc" />
                                    <img src="images/onepager/char-right.png"
                                         alt
                                         class="pages___StyledImg5-sc-1bzqwrs-10 fwrEli" />
                                </div>
                                <div id="tsparticles">
                                    <canvas style="width:100%;height:100%"></canvas>
                                </div>
                            </div>
                        </section><section class="pages___StyledSection2-sc-1bzqwrs-11 bWHznC">
                            <div class="pages___StyledDiv4-sc-1bzqwrs-12 bztXDb">
                                <div class="pages___StyledDiv5-sc-1bzqwrs-13 bVXAfj">
                                    <span class="pages___StyledSpan2-sc-1bzqwrs-14 bPWrjD">POPULATION</span>
                                </div><div class="pages___StyledDiv6-sc-1bzqwrs-15 iEFmMo">
                                    <div class="pages___StyledDiv7-sc-1bzqwrs-16 jPFEWS">
                                        <img src="images/dapp/presale/school/SG.png"
                                             alt /><div class="pages___StyledDiv8-sc-1bzqwrs-17 kOAKvb">
                                            <span class="pages___StyledSpan3-sc-1bzqwrs-18 dfrvSS"></span>
                                        </div>
                                    </div><div class="pages___StyledDiv9-sc-1bzqwrs-19 eFmdzj">
                                        <img src="images/dapp/presale/school/MP.png"
                                             alt /><div class="pages___StyledDiv10-sc-1bzqwrs-20 ewRdoW">
                                            <span class="pages___StyledSpan4-sc-1bzqwrs-21 xKQYz"></span>
                                        </div>
                                    </div><div class="pages___StyledDiv11-sc-1bzqwrs-22 hiIGLy">
                                        <img src="images/dapp/presale/school/PHX.png"
                                             alt /><div class="pages___StyledDiv12-sc-1bzqwrs-23 ctdkxn">
                                            <span class="pages___StyledSpan5-sc-1bzqwrs-24 drcwnH"></span>
                                        </div>
                                    </div>
                                </div><div class="pages___StyledDiv13-sc-1bzqwrs-25 guVzca">
                                    <div class="pages___StyledDiv14-sc-1bzqwrs-26 kcnlnK">
                                        <div class="pages___StyledDiv15-sc-1bzqwrs-27 fylJAN">
                                            <span class="pages___StyledSpan6-sc-1bzqwrs-28 ecEqhE">INTRODUCTION</span>
                                        </div><div class="pages___StyledDiv16-sc-1bzqwrs-29 mdZkp">
                                            Ran
                                            x Crypto is a Private Server
                                            that aims to <br />
                                            integrate cryptocurrency in
                                            RAN.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><section class="pages___StyledSection3-sc-1bzqwrs-30 iLCrUY">
                            <div class="pages___StyledDiv17-sc-1bzqwrs-31 iwiAVI">
                                <div class="pages___StyledDiv18-sc-1bzqwrs-32 hgrDww">
                                    <span class="pages___StyledSpan7-sc-1bzqwrs-33 bXdfYj">
                                        WHY
                                        RXC?
                                    </span>
                                </div><div class="pages___StyledDiv19-sc-1bzqwrs-34 SIHXk">
                                    <div class="pages___StyledDiv20-sc-1bzqwrs-35 jvCDgu">
                                        <div class="pages___StyledDiv21-sc-1bzqwrs-36 hkoNYC">
                                            <span class="pages___StyledSpan8-sc-1bzqwrs-37 juXHWA">TEAM</span>
                                        </div><div class="pages___StyledDiv22-sc-1bzqwrs-38 jdwIDN">
                                            RxC
                                            Team members consist of ran
                                            developers that have been
                                            around since
                                            2007.
                                        </div>
                                    </div><div class="pages___StyledDiv23-sc-1bzqwrs-39 cKWVyJ">
                                        <div class="pages___StyledDiv24-sc-1bzqwrs-40 hmORia">
                                            <span class="pages___StyledSpan9-sc-1bzqwrs-41 fLiuvg">
                                                LESS
                                                TOXIC
                                                ENVIRONMENT
                                            </span>
                                        </div><div class="pages___StyledDiv25-sc-1bzqwrs-42 fNaGmr">
                                            Since
                                            the characters are
                                            NFT&#x27;s, players will
                                            value their assets
                                            more.
                                        </div>
                                    </div><div class="pages___StyledDiv26-sc-1bzqwrs-43 bGuHdV">
                                        <div class="pages___StyledDiv27-sc-1bzqwrs-44 bZneDt">
                                            <span class="pages___StyledSpan10-sc-1bzqwrs-45 kxTetA">
                                                HEALTHY
                                                ECONOMY
                                            </span>
                                        </div><div class="pages___StyledDiv28-sc-1bzqwrs-46 btNVBC">
                                            RxC
                                            team comes up with a PvP
                                            Driven economy that will aim
                                            to maintain the equilibrium
                                            of the in-game economy and
                                            Tokens.
                                        </div>
                                    </div><div class="pages___StyledDiv29-sc-1bzqwrs-47 cImVXm">
                                        <div class="pages___StyledDiv30-sc-1bzqwrs-48 fOiFqT">
                                            <span class="pages___StyledSpan11-sc-1bzqwrs-49 eSuHuB">
                                                PLAY
                                                TO EARN
                                            </span>
                                        </div><div class="pages___StyledDiv31-sc-1bzqwrs-50 ewhmxB">
                                            Earn
                                            while enjoying the
                                            game
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section><section class="pages___StyledSection4-sc-1bzqwrs-51 fjLmCD">
                            <div>
                                <div class="pages___StyledDiv32-sc-1bzqwrs-52 jVeRZe">
                                    <span class="pages___StyledSpan12-sc-1bzqwrs-53 bQaxol">
                                        AS
                                        SEEN ON
                                    </span>
                                </div><div class="pages___StyledDiv33-sc-1bzqwrs-54 gHwybM">
                                    <a class="cursor-hover"
                                       href="https://finance.yahoo.com/news/rxc-world-announces-public-sale-115100986.html"
                                       target="_blank">
                                        <img src="images/onepager/seenon/1.png"
                                             alt
                                             class="pages___StyledImg6-sc-1bzqwrs-55 gtGYZX" />
                                    </a><a class="cursor-hover"
                                           href="https://news.yahoo.com/news/rxc-world-announces-public-sale-115100986.html"
                                           target="_blank">
                                        <img src="images/onepager/seenon/2.png"
                                             alt
                                             class="pages___StyledImg7-sc-1bzqwrs-56 iJwrBJ" />
                                    </a><a class="cursor-hover"
                                           href="https://www.bloomberg.com/press-releases/2021-11-27/rxc-world-announces-public-sale-date-for-rxc-token"
                                           target="_blank">
                                        <img src="images/onepager/seenon/3.png"
                                             alt
                                             class="pages___StyledImg8-sc-1bzqwrs-57 eNqzkj" />
                                    </a><a class="cursor-hover"
                                           href="https://www.benzinga.com/pressreleases/21/11/24316594/rxc-world-announces-public-sale-date-for-rxc-token"
                                           target="_blank">
                                        <img src="images/onepager/seenon/5.png"
                                             alt
                                             class="pages___StyledImg9-sc-1bzqwrs-58 boriAN" />
                                    </a><a class="cursor-hover"
                                           href="https://www.nasdaq.com/press-release/rxc-world-announces-public-sale-date-for-%24rxc-token-2021-11-27"
                                           target="_blank">
                                        <img src="images/onepager/seenon/6.png"
                                             alt
                                             class="pages___StyledImg10-sc-1bzqwrs-59 djrksU" />
                                    </a>
                                </div>
                            </div>
                        </section><section class="pages___StyledSection5-sc-1bzqwrs-60 kQGzKo">
                            <div class="pages___StyledDiv34-sc-1bzqwrs-61 hmLWXb">
                                <div class="pages___StyledDiv35-sc-1bzqwrs-62 cYBxOr">
                                    <span class="pages___StyledSpan13-sc-1bzqwrs-63 dZKEIP">
                                        STRATEGIC
                                        PARTNERS
                                    </span>
                                </div><div class="pages___StyledDiv36-sc-1bzqwrs-64 PgmZN">
                                    RxC
                                    team aims to integrate rxc into
                                    other private
                                    servers
                                </div>
                            </div><div class="pages___StyledDiv37-sc-1bzqwrs-65 hNIQta">
                                <a class="cursor-hover"
                                   href="https://www.facebook.com/GreenShieldDevelopments/photos/a.272298590216146/1063823251063672/"
                                   target="_blank">
                                    <img src="images/onepager/partner/greenshield.png"
                                         alt
                                         class="pages___StyledImg11-sc-1bzqwrs-66 bkobEI" />
                                </a><a class="cursor-hover"
                                       href="https://www.facebook.com/gerbersec/photos/a.2008511282729257/3075243782722663/"
                                       target="_blank">
                                    <img src="images/onepager/partner/gerbersec.png"
                                         alt
                                         class="pages___StyledImg12-sc-1bzqwrs-67 dyznFS" />
                                </a><a class="cursor-hover"
                                       href="https://www.facebook.com/senseidevts/photos/a.882043862182177/1533785353674688/"
                                       target="_blank">
                                    <img src="images/onepager/partner/sencore.png"
                                         alt
                                         class="pages___StyledImg13-sc-1bzqwrs-68 frdnZu" />
                                </a>
                            </div>
                        </section><section class="pages___StyledSection6-sc-1bzqwrs-69 lYMgm">
                            <div>
                                <div class="pages___StyledDiv38-sc-1bzqwrs-70 sUqV">
                                    <span class="pages___StyledSpan14-sc-1bzqwrs-71 inCCjb">PARTNERS</span>
                                </div>
                            </div><div class="pages___StyledDiv39-sc-1bzqwrs-72 kEIfQs">
                                <a class="cursor-hover"
                                   href="https://twitter.com/AegisLaunchpad"
                                   target="_blank">
                                    <img src="images/onepager/partner/aegis.svg"
                                         alt
                                         class="pages___StyledImg14-sc-1bzqwrs-73 gXvjqr" />
                                </a><a class="cursor-hover"
                                       href="https://www.facebook.com/GLAxieInfinityGuild"
                                       target="_blank">
                                    <img src="images/onepager/partner/gl-guild.png"
                                         alt
                                         class="pages___StyledImg15-sc-1bzqwrs-74 hLTHAH" />
                                </a><a class="cursor-hover"
                                       href="https://twitter.com/ChainRidgeVC"
                                       target="_blank">
                                    <img src="images/onepager/partner/chain-ridge.png"
                                         alt
                                         class="pages___StyledImg16-sc-1bzqwrs-75 enOMGB" />
                                </a><a class="cursor-hover"
                                       href="https://twitter.com/BlueMoon_VC"
                                       target="_blank">
                                    <img src="images/onepager/partner/bluemoon.png"
                                         alt
                                         class="pages___StyledImg17-sc-1bzqwrs-76 cckkqh" />
                                </a><a class="cursor-hover"
                                       href="https://twitter.com/crypto_rand"
                                       target="_blank">
                                    <img src="images/onepager/partner/cryptorand.jpg"
                                         alt
                                         class="pages___StyledImg18-sc-1bzqwrs-77 cJPGCP" />
                                </a><a class="cursor-hover"
                                       href="https://t.me/AstroXDipAcademy"
                                       target="_blank">
                                    <img src="images/onepager/partner/astroxcalls.jpg"
                                         alt
                                         class="pages___StyledImg19-sc-1bzqwrs-78 kebNux" />
                                </a><a class="cursor-hover"
                                       href="https://t.me/Apes_Crib"
                                       target="_blank">
                                    <img src="images/onepager/partner/apescrib.jpg"
                                         alt
                                         class="pages___StyledImg20-sc-1bzqwrs-79 caoKKm" />
                                </a><a class="cursor-hover"
                                       href="https://t.me/apeslounge"
                                       target="_blank">
                                    <img src="images/onepager/partner/ApeLounge.jpg"
                                         alt
                                         class="pages___StyledImg21-sc-1bzqwrs-80 jOMHhF" />
                                </a><a class="cursor-hover"
                                       href="https://t.me/UNITEDSHILLERSS"
                                       target="_blank">
                                    <img src="images/onepager/partner/xunited.jpg"
                                         alt
                                         class="pages___StyledImg22-sc-1bzqwrs-81 dfVmwH" />
                                </a>
                            </div>
                        </section><section class="pages___StyledSection7-sc-1bzqwrs-82 dONPRu">
                            <div>
                                <div class="pages___StyledDiv40-sc-1bzqwrs-83 eALslW">
                                    <span class="pages___StyledSpan15-sc-1bzqwrs-84 fCBZsM">
                                        AUDITED
                                        BY
                                    </span>
                                </div>
                            </div><div class="pages___StyledDiv41-sc-1bzqwrs-85 bBVLsv">
                                <a class="cursor-hover"
                                   href="https://audits.solidgrp.io/rxc?fbclid=IwAR3DtaAHicY9gn6YOAMdczfcjO9EV-Kia8UwU6fXXAkfPFqkPb_8L6jDFHA"
                                   target="_blank">
                                    <img src="images/onepager/partner/solidgroup.png"
                                         alt
                                         class="pages___StyledImg23-sc-1bzqwrs-86 giYYWr" />
                                </a>
                            </div>
                        </section>
                    </main>
                </div>
            </div>

            @Html.Partial("_footer")

            <div class="HorizontalGold___StyledDiv-sc-nkyp02-0 gPzcDI"></div>
        </div>
    </div>
</div>

