
*, ::before, ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/ );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-blur: var(--tw-empty, /*!*/ /*!*/ );
    --tw-brightness: var(--tw-empty, /*!*/ /*!*/ );
    --tw-contrast: var(--tw-empty, /*!*/ /*!*/ );
    --tw-grayscale: var(--tw-empty, /*!*/ /*!*/ );
    --tw-hue-rotate: var(--tw-empty, /*!*/ /*!*/ );
    --tw-invert: var(--tw-empty, /*!*/ /*!*/ );
    --tw-saturate: var(--tw-empty, /*!*/ /*!*/ );
    --tw-sepia: var(--tw-empty, /*!*/ /*!*/ );
    --tw-drop-shadow: var(--tw-empty, /*!*/ /*!*/ );
    --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
    --tw-backdrop-blur: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-brightness: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-contrast: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-grayscale: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-hue-rotate: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-invert: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-opacity: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-saturate: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-sepia: var(--tw-empty, /*!*/ /*!*/ );
    --tw-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}
/*!sc*/
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
/*!sc*/
body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
}
/*!sc*/
hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}
/*!sc*/
abbr[title] {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}
/*!sc*/
b, strong {
    font-weight: bolder;
}
/*!sc*/
code, kbd, samp, pre {
    font-family: ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;
    font-size: 1em;
}
/*!sc*/
small {
    font-size: 80%;
}
/*!sc*/
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
/*!sc*/
sub {
    bottom: -0.25em;
}
/*!sc*/
sup {
    top: -0.5em;
}
/*!sc*/
table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}
/*!sc*/
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
    color: inherit;
}
/*!sc*/
button, select {
    text-transform: none;
}
/*!sc*/
button, [type='button'], [type='reset'], [type='submit'] {
    -webkit-appearance: button;
}
/*!sc*/
::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
/*!sc*/
:-moz-focusring {
    outline: 1px dotted ButtonText;
}
/*!sc*/
:-moz-ui-invalid {
    box-shadow: none;
}
/*!sc*/
legend {
    padding: 0;
}
/*!sc*/
progress {
    vertical-align: baseline;
}
/*!sc*/
::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
}
/*!sc*/
[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
/*!sc*/
::-webkit-search-decoration {
    -webkit-appearance: none;
}
/*!sc*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
/*!sc*/
summary {
    display: list-item;
}
/*!sc*/
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}
/*!sc*/
button {
    background-color: transparent;
    background-image: none;
}
/*!sc*/
fieldset {
    margin: 0;
    padding: 0;
}
/*!sc*/
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/*!sc*/
img {
    border-style: solid;
}
/*!sc*/
textarea {
    resize: vertical;
}
    /*!sc*/
    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: #9ca3af;
    }
    /*!sc*/
    input::-moz-placeholder, textarea::-moz-placeholder {
        color: #9ca3af;
    }
    /*!sc*/
    input:-ms-input-placeholder, textarea:-ms-input-placeholder {
        color: #9ca3af;
    }
    /*!sc*/
    input::placeholder, textarea::placeholder {
        color: #9ca3af;
    }
/*!sc*/
button, [role="button"] {
    cursor: pointer;
}
/*!sc*/
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}
/*!sc*/
a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}
/*!sc*/
pre, code, kbd, samp {
    font-family: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
/*!sc*/
img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}
/*!sc*/
img, video {
    max-width: 100%;
    height: auto;
}
/*!sc*/
[hidden] {
    display: none;
}
/*!sc*/
@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*!sc*/
@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*!sc*/
@-webkit-keyframes ping {
    75%,100% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
/*!sc*/
@keyframes ping {
    75%,100% {
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}
/*!sc*/
@-webkit-keyframes pulse {
    50% {
        opacity: .5;
    }
}
/*!sc*/
@keyframes pulse {
    50% {
        opacity: .5;
    }
}
/*!sc*/
@-webkit-keyframes bounce {
    0%,100% {
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }

    50% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
/*!sc*/
@keyframes bounce {
    0%,100% {
        -webkit-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(0.8,0,1,1);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }

    50% {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,0.2,1);
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
/*!sc*/
data-styled.g12[id="sc-global-bxhltG1"] {
    content: "sc-global-bxhltG1,"
}
/*!sc*/
@font-face {
    font-family: 'absolute-empire';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/AAbsoluteEmpire-axyaJ.woff');
}
/*!sc*/
@font-face {
    font-family: 'high-speed';
    src: url('fonts/High-Speed.otf');
    font-style: normal;
    font-weight: normal;
    font-display: fallback;
}
/*!sc*/
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url("images/cursor/normal.png"),auto;
}
/*!sc*/
.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    -webkit-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    left: -2px !important;
    bottom: 20px !important;
}
    /*!sc*/
    .grecaptcha-badge:hover {
        width: 256px !important;
    }
/*!sc*/
.cursor-hover {
    cursor: url("images/cursor/attack.png"),auto;
}
/*!sc*/
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
/*!sc*/
.no-scrollbar {
    -ms-overflow-style: none;
    -webkit-scrollbar-width: none;
    -moz-scrollbar-width: none;
    -ms-scrollbar-width: none;
    scrollbar-width: none;
}
/*!sc*/
img {
    -webkit-user-drag: none;
    -moz-user-drag: none;
    -ms-user-drag: none;
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
/*!sc*/
.formError {
    --tw-text-opacity: 1;
    color: rgba(239,68,68,var(--tw-text-opacity));
    font-size: 0.75rem;
    line-height: 1rem;
    font-style: italic;
    margin-top: 0.5rem;
}
/*!sc*/
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
/*!sc*/
::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgba(1,4,23,var(--tw-bg-opacity));
}
/*!sc*/
::-webkit-scrollbar-thumb {
    --tw-bg-opacity: 1;
    background-color: rgba(30,34,59,var(--tw-bg-opacity));
}
    /*!sc*/
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(183,186,242,0.729);
    }
/*!sc*/
.appearance-number-none, input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*!sc*/
.appearance-number-none, input[type=number] {
    -moz-appearance: textfield;
}
/*!sc*/
#tsparticles canvas {
    position: absolute !important;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    pointer-events: none !important;
}
/*!sc*/
data-styled.g13[id="sc-global-fIfWim1"] {
    content: "sc-global-fIfWim1,"
}
/*!sc*/
.fAEomL {
    font-family: Poppins;
    position: relative;
}
/*!sc*/
data-styled.g15[id="_app___StyledDiv-sc-2mmj0v-1"] {
    content: "fAEomL,"
}
/*!sc*/
.hDsZLu {
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*!sc*/
data-styled.g18[id="_app___StyledDiv4-sc-2mmj0v-4"] {
    content: "hDsZLu,"
}
/*!sc*/
.hKQOzX {
    -webkit-flex: 1 1 0%;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    --tw-bg-opacity: 1;
    background-color: rgba(1,4,23,var(--tw-bg-opacity));
    position: relative;
}
/*!sc*/
data-styled.g19[id="_app___StyledDiv5-sc-2mmj0v-5"] {
    content: "hKQOzX,"
}
/*!sc*/
.gPzcDI {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    background-image: url(images/dapp/horizontal-gold.png);
    background-size: 100% 100%;
    width: 100%;
    height: 0.125rem;
}
/*!sc*/
data-styled.g44[id="HorizontalGold___StyledDiv-sc-nkyp02-0"] {
    content: "gPzcDI,"
}
/*!sc*/
.gtvzuV {
    --tw-bg-opacity: 1;
    background-color: rgba(51,52,77,var(--tw-bg-opacity));
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
/*!sc*/
@media (min-width:768px) {
    .gtvzuV {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
}
/*!sc*/
data-styled.g60[id="Footer___StyledDiv-sc-j0tiq0-0"] {
    content: "gtvzuV,"
}
/*!sc*/
.gVLVOn {
    text-align: center;
}
    /*!sc*/
    .gVLVOn > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
    }
/*!sc*/
data-styled.g61[id="Footer___StyledDiv2-sc-j0tiq0-1"] {
    content: "gVLVOn,"
}
/*!sc*/
.bZNPeg {
    --tw-text-opacity: 1;
    color: rgba(214,146,0,var(--tw-text-opacity));
    text-transform: uppercase;
    -webkit-letter-spacing: 0.025em;
    -moz-letter-spacing: 0.025em;
    -ms-letter-spacing: 0.025em;
    letter-spacing: 0.025em;
}
/*!sc*/
data-styled.g62[id="Footer___StyledH-sc-j0tiq0-2"] {
    content: "bZNPeg,"
}
/*!sc*/
.fYXFLJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
    /*!sc*/
    .fYXFLJ > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1.5rem * var(--tw-space-x-reverse));
        margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)));
    }
/*!sc*/
data-styled.g63[id="Footer___StyledDiv3-sc-j0tiq0-3"] {
    content: "fYXFLJ,"
}
/*!sc*/
.hdtERf {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g64[id="Footer___StyledFaFacebook-sc-j0tiq0-4"] {
    content: "hdtERf,"
}
/*!sc*/
.ilvBbf {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g65[id="Footer___StyledFaTelegram-sc-j0tiq0-5"] {
    content: "ilvBbf,"
}
/*!sc*/
.cVsnY {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g66[id="Footer___StyledFaTwitter-sc-j0tiq0-6"] {
    content: "cVsnY,"
}
/*!sc*/
.bPZwJr {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g67[id="Footer___StyledGoRepo-sc-j0tiq0-7"] {
    content: "bPZwJr,"
}
/*!sc*/
.dFzoQy {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g68[id="Footer___StyledFaYoutube-sc-j0tiq0-8"] {
    content: "dFzoQy,"
}
/*!sc*/
.hMoKnp {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g69[id="Footer___StyledFaTelegramPlane-sc-j0tiq0-9"] {
    content: "hMoKnp,"
}
/*!sc*/
.hfSEdC {
    height: 2rem;
    width: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
/*!sc*/
data-styled.g70[id="Footer___StyledFaDiscord-sc-j0tiq0-10"] {
    content: "hfSEdC,"
}
/*!sc*/
.hxzdOe {
    --tw-text-opacity: 1;
    color: rgba(156,163,175,var(--tw-text-opacity));
    text-align: center;
    padding-top: 2rem;
}
/*!sc*/
@media (min-width:768px) {
    .hxzdOe {
        padding-top: 3rem;
    }
}
/*!sc*/
data-styled.g71[id="Footer___StyledDiv4-sc-j0tiq0-11"] {
    content: "hxzdOe,"
}
/*!sc*/
.edfLRb {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 0.375rem;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #d69200;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(214,146,0,0));
    --tw-gradient-to: #996100;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
    /*!sc*/
    .edfLRb:active {
        background-image: linear-gradient(to top,var(--tw-gradient-stops));
        --tw-gradient-from: #d69200;
        --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(214,146,0,0));
        --tw-gradient-to: #996100;
    }
    /*!sc*/
    .edfLRb:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
/*!sc*/
data-styled.g72[id="Nav__Menu-sc-9w6upq-0"] {
    content: "edfLRb,"
}
/*!sc*/
@media (min-width:1024px) {
    .bExZmZ {
        display: none;
    }
}
/*!sc*/
data-styled.g74[id="Nav___StyledMenu-sc-9w6upq-2"] {
    content: "bExZmZ,"
}
/*!sc*/
.dBiiqq {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
    /*!sc*/
    .dBiiqq:hover {
        --tw-text-opacity: 1;
        color: rgba(214,146,0,var(--tw-text-opacity));
    }
    /*!sc*/
    .dBiiqq:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }
/*!sc*/
data-styled.g78[id="Nav__NavMenu-sc-9w6upq-6"] {
    content: "dBiiqq,"
}
/*!sc*/
.khOVht.enter {
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform,filter,backdrop-filter;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    -webkit-transition-timing-function: cubic-bezier(0,0,0.2,1);
    transition-timing-function: cubic-bezier(0,0,0.2,1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
}
/*!sc*/
.khOVht.enterFrom {
    opacity: 0;
    --tw-translate-y: 0.25rem;
    -webkit-transform: var(--tw-transform);
    -ms-transform: var(--tw-transform);
    transform: var(--tw-transform);
}
/*!sc*/
.khOVht.enterTo {
    opacity: 1;
    --tw-translate-y: 0px;
    -webkit-transform: var(--tw-transform);
    -ms-transform: var(--tw-transform);
    transform: var(--tw-transform);
}
/*!sc*/
.khOVht.leave {
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,-webkit-transform,filter,backdrop-filter;
    -webkit-transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    -webkit-transition-timing-function: cubic-bezier(0.4,0,1,1);
    transition-timing-function: cubic-bezier(0.4,0,1,1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}
/*!sc*/
.khOVht.leaveFrom {
    opacity: 1;
    --tw-translate-y: 0px;
    -webkit-transform: var(--tw-transform);
    -ms-transform: var(--tw-transform);
    transform: var(--tw-transform);
}
/*!sc*/
.khOVht.leaveTo {
    opacity: 0;
    --tw-translate-y: 0.25rem;
    -webkit-transform: var(--tw-transform);
    -ms-transform: var(--tw-transform);
    transform: var(--tw-transform);
}
/*!sc*/
data-styled.g81[id="Nav__StyledTransition-sc-9w6upq-9"] {
    content: "khOVht,"
}
/*!sc*/
.iMIMCF {
    --tw-bg-opacity: 1;
    background-color: rgba(1,4,23,var(--tw-bg-opacity));
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*!sc*/
@media (min-width:1024px) {
    .iMIMCF {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
/*!sc*/
data-styled.g82[id="Nav___StyledNav-sc-9w6upq-10"] {
    content: "iMIMCF,"
}
/*!sc*/
.fDJaBa {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*!sc*/
@media (min-width:1280px) {
    .fDJaBa {
        margin-left: auto;
        margin-right: auto;
        width: 83.333333%;
    }
}
/*!sc*/
@media (min-width:1536px) {
    .fDJaBa {
        width: 66.666667%;
    }
}
/*!sc*/
data-styled.g83[id="Nav___StyledDiv-sc-9w6upq-11"] {
    content: "fDJaBa,"
}
/*!sc*/
.cANKTl {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
/*!sc*/
data-styled.g84[id="Nav___StyledDiv2-sc-9w6upq-12"] {
    content: "cANKTl,"
}
/*!sc*/
.bZlwYp {
    height: 2.5rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*!sc*/
@media (min-width:768px) {
    .bZlwYp {
        height: 3.5rem;
    }
}
/*!sc*/
data-styled.g86[id="Nav___StyledImg2-sc-9w6upq-14"] {
    content: "bZlwYp,"
}
/*!sc*/
.ctLvVN {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    -webkit-clip: rect(0,0,0,0);
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
/*!sc*/
data-styled.g88[id="Nav___StyledSpan-sc-9w6upq-16"] {
    content: "ctLvVN,"
}
/*!sc*/
.cXbtTf {
    height: 1.5rem;
    width: 1.5rem;
}
/*!sc*/
data-styled.g89[id="Nav___StyledHiMenu-sc-9w6upq-17"] {
    content: "cXbtTf,"
}
/*!sc*/
.kfBKWA {
    display: none;
}
/*!sc*/
@media (min-width:1024px) {
    .kfBKWA {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .kfBKWA > :not([hidden]) ~ :not([hidden]) {
            --tw-space-x-reverse: 0;
            margin-right: calc(1rem * var(--tw-space-x-reverse));
            margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
        }
}
/*!sc*/
data-styled.g90[id="Nav___StyledDiv4-sc-9w6upq-18"] {
    content: "kfBKWA,"
}
/*!sc*/
.dTusym {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 41;
}
/*!sc*/
data-styled.g210[id="pages___StyledNav-sc-1bzqwrs-0"] {
    content: "dTusym,"
}
/*!sc*/
.kMqjRy {
    background-image: url(images/onepager/bg-fire1.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
/*!sc*/
data-styled.g211[id="pages___StyledSection-sc-1bzqwrs-1"] {
    content: "kMqjRy,"
}
/*!sc*/
.byXlXh {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
/*!sc*/
data-styled.g212[id="pages___StyledDiv-sc-1bzqwrs-2"] {
    content: "byXlXh,"
}
/*!sc*/
.jXuSZW {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}
/*!sc*/
data-styled.g213[id="pages___StyledDiv2-sc-1bzqwrs-3"] {
    content: "jXuSZW,"
}
/*!sc*/
@media (min-width:768px) {
    .fXKWYV {
        height: 220px;
    }
}
/*!sc*/
data-styled.g214[id="pages___StyledImg-sc-1bzqwrs-4"] {
    content: "fXKWYV,"
}
/*!sc*/
.eRyqeo {
    margin-top: -1rem;
}
/*!sc*/
@media (min-width:640px) {
    .eRyqeo {
        height: 46px;
    }
}
/*!sc*/
@media (min-width:768px) {
    .eRyqeo {
        height: 56px;
    }
}
/*!sc*/
data-styled.g215[id="pages___StyledImg2-sc-1bzqwrs-5"] {
    content: "eRyqeo,"
}
/*!sc*/
.epTYji {
    margin-top: 2rem;
    margin-bottom: 2rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
@media (min-width:640px) {
    .epTYji {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}
/*!sc*/
@media (min-width:768px) {
    .epTYji {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
/*!sc*/
data-styled.g216[id="pages___StyledDiv3-sc-1bzqwrs-6"] {
    content: "epTYji,"
}
/*!sc*/
.gSlkbT {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g217[id="pages___StyledSpan-sc-1bzqwrs-7"] {
    content: "gSlkbT,"
}
/*!sc*/
.jbHnYk {
    height: 4rem;
}
/*!sc*/
.group:active .pages___StyledImg3-sc-1bzqwrs-8 {
    --tw-scale-x: .95;
    --tw-scale-y: .95;
    -webkit-transform: var(--tw-transform);
    -ms-transform: var(--tw-transform);
    transform: var(--tw-transform);
}
/*!sc*/
@media (min-width:768px) {
    .jbHnYk {
        height: 5rem;
    }
}
/*!sc*/
data-styled.g218[id="pages___StyledImg3-sc-1bzqwrs-8"] {
    content: "jbHnYk,"
}
/*!sc*/
.kvTqnc {
    height: 600px;
    display: none;
    position: absolute;
    bottom: 0px;
}
/*!sc*/
@media (min-width:1024px) {
    .kvTqnc {
        display: block;
        left: 1rem;
    }
}
/*!sc*/
@media (min-width:1280px) {
    .kvTqnc {
        left: 8rem;
    }
}
/*!sc*/
@media (min-width:1536px) {
    .kvTqnc {
        left: 18rem;
    }
}
/*!sc*/
data-styled.g219[id="pages___StyledImg4-sc-1bzqwrs-9"] {
    content: "kvTqnc,"
}
/*!sc*/
.fwrEli {
    height: 600px;
    display: none;
    position: absolute;
    bottom: 0px;
}
/*!sc*/
@media (min-width:1024px) {
    .fwrEli {
        display: block;
        right: 1rem;
    }
}
/*!sc*/
@media (min-width:1280px) {
    .fwrEli {
        right: 8rem;
    }
}
/*!sc*/
@media (min-width:1536px) {
    .fwrEli {
        right: 18rem;
    }
}
/*!sc*/
data-styled.g220[id="pages___StyledImg5-sc-1bzqwrs-10"] {
    content: "fwrEli,"
}
/*!sc*/
.bWHznC {
    height: 126vh;
    position: relative;
}
/*!sc*/
@media (min-width:768px) {
    .bWHznC {
        height: 150vh;
    }
}
/*!sc*/
data-styled.g221[id="pages___StyledSection2-sc-1bzqwrs-11"] {
    content: "bWHznC,"
}
/*!sc*/
.bztXDb {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url(images/onepager/bg-2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: -13rem;
    pointer-events: none;
}
/*!sc*/
data-styled.g222[id="pages___StyledDiv4-sc-1bzqwrs-12"] {
    content: "bztXDb,"
}
/*!sc*/
.bVXAfj {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 200px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g223[id="pages___StyledDiv5-sc-1bzqwrs-13"] {
    content: "bVXAfj,"
}
/*!sc*/
.bPWrjD {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g224[id="pages___StyledSpan2-sc-1bzqwrs-14"] {
    content: "bPWrjD,"
}
/*!sc*/
.iEFmMo {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/*!sc*/
data-styled.g225[id="pages___StyledDiv6-sc-1bzqwrs-15"] {
    content: "iEFmMo,"
}
/*!sc*/
.jPFEWS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/
data-styled.g226[id="pages___StyledDiv7-sc-1bzqwrs-16"] {
    content: "jPFEWS,"
}
/*!sc*/
.kOAKvb {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
@media (min-width:768px) {
    .kOAKvb {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
/*!sc*/
data-styled.g227[id="pages___StyledDiv8-sc-1bzqwrs-17"] {
    content: "kOAKvb,"
}
/*!sc*/
.dfrvSS {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g228[id="pages___StyledSpan3-sc-1bzqwrs-18"] {
    content: "dfrvSS,"
}
/*!sc*/
.eFmdzj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/
data-styled.g229[id="pages___StyledDiv9-sc-1bzqwrs-19"] {
    content: "eFmdzj,"
}
/*!sc*/
.ewRdoW {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
@media (min-width:768px) {
    .ewRdoW {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
/*!sc*/
data-styled.g230[id="pages___StyledDiv10-sc-1bzqwrs-20"] {
    content: "ewRdoW,"
}
/*!sc*/
.xKQYz {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g231[id="pages___StyledSpan4-sc-1bzqwrs-21"] {
    content: "xKQYz,"
}
/*!sc*/
.hiIGLy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/
data-styled.g232[id="pages___StyledDiv11-sc-1bzqwrs-22"] {
    content: "hiIGLy,"
}
/*!sc*/
.ctdkxn {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
@media (min-width:768px) {
    .ctdkxn {
        font-size: 1.5rem;
        line-height: 2rem;
    }
}
/*!sc*/
data-styled.g233[id="pages___StyledDiv12-sc-1bzqwrs-23"] {
    content: "ctdkxn,"
}
/*!sc*/
.drcwnH {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g234[id="pages___StyledSpan5-sc-1bzqwrs-24"] {
    content: "drcwnH,"
}
/*!sc*/
.guVzca {
    background-image: url(images/onepager/intro-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-top: -3rem;
}
/*!sc*/
data-styled.g235[id="pages___StyledDiv13-sc-1bzqwrs-25"] {
    content: "guVzca,"
}
/*!sc*/
.kcnlnK {
    padding-bottom: 14rem;
}
/*!sc*/
data-styled.g236[id="pages___StyledDiv14-sc-1bzqwrs-26"] {
    content: "kcnlnK,"
}
/*!sc*/
.fylJAN {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 240px;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g237[id="pages___StyledDiv15-sc-1bzqwrs-27"] {
    content: "fylJAN,"
}
/*!sc*/
.ecEqhE {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g238[id="pages___StyledSpan6-sc-1bzqwrs-28"] {
    content: "ecEqhE,"
}
/*!sc*/
.mdZkp {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
/*!sc*/
data-styled.g239[id="pages___StyledDiv16-sc-1bzqwrs-29"] {
    content: "mdZkp,"
}
/*!sc*/
.iLCrUY {
    position: relative;
}
/*!sc*/
data-styled.g240[id="pages___StyledSection3-sc-1bzqwrs-30"] {
    content: "iLCrUY,"
}
/*!sc*/
.iwiAVI {
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/*!sc*/
data-styled.g241[id="pages___StyledDiv17-sc-1bzqwrs-31"] {
    content: "iwiAVI,"
}
/*!sc*/
.hgrDww {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g242[id="pages___StyledDiv18-sc-1bzqwrs-32"] {
    content: "hgrDww,"
}
/*!sc*/
.bXdfYj {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g243[id="pages___StyledSpan7-sc-1bzqwrs-33"] {
    content: "bXdfYj,"
}
/*!sc*/
.SIHXk {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
    /*!sc*/
    .SIHXk > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
/*!sc*/
data-styled.g244[id="pages___StyledDiv19-sc-1bzqwrs-34"] {
    content: "SIHXk,"
}
/*!sc*/
.jvCDgu {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(245,158,11,var(--tw-border-opacity));
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #4c1f01;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(76,31,1,0));
    --tw-gradient-to: #200400;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*!sc*/
data-styled.g245[id="pages___StyledDiv20-sc-1bzqwrs-35"] {
    content: "jvCDgu,"
}
/*!sc*/
.hkoNYC {
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
}
/*!sc*/
data-styled.g246[id="pages___StyledDiv21-sc-1bzqwrs-36"] {
    content: "hkoNYC,"
}
/*!sc*/
.juXHWA {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g247[id="pages___StyledSpan8-sc-1bzqwrs-37"] {
    content: "juXHWA,"
}
/*!sc*/
.jdwIDN {
    color: rgba(255,255,255,0.8);
    padding-top: 0.5rem;
}
/*!sc*/
data-styled.g248[id="pages___StyledDiv22-sc-1bzqwrs-38"] {
    content: "jdwIDN,"
}
/*!sc*/
.cKWVyJ {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(245,158,11,var(--tw-border-opacity));
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #4c1f01;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(76,31,1,0));
    --tw-gradient-to: #200400;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*!sc*/
data-styled.g249[id="pages___StyledDiv23-sc-1bzqwrs-39"] {
    content: "cKWVyJ,"
}
/*!sc*/
.hmORia {
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
}
/*!sc*/
data-styled.g250[id="pages___StyledDiv24-sc-1bzqwrs-40"] {
    content: "hmORia,"
}
/*!sc*/
.fLiuvg {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g251[id="pages___StyledSpan9-sc-1bzqwrs-41"] {
    content: "fLiuvg,"
}
/*!sc*/
.fNaGmr {
    color: rgba(255,255,255,0.8);
    padding-top: 0.5rem;
}
/*!sc*/
data-styled.g252[id="pages___StyledDiv25-sc-1bzqwrs-42"] {
    content: "fNaGmr,"
}
/*!sc*/
.bGuHdV {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(245,158,11,var(--tw-border-opacity));
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #4c1f01;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(76,31,1,0));
    --tw-gradient-to: #200400;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*!sc*/
data-styled.g253[id="pages___StyledDiv26-sc-1bzqwrs-43"] {
    content: "bGuHdV,"
}
/*!sc*/
.bZneDt {
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
}
/*!sc*/
data-styled.g254[id="pages___StyledDiv27-sc-1bzqwrs-44"] {
    content: "bZneDt,"
}
/*!sc*/
.kxTetA {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g255[id="pages___StyledSpan10-sc-1bzqwrs-45"] {
    content: "kxTetA,"
}
/*!sc*/
.btNVBC {
    color: rgba(255,255,255,0.8);
    padding-top: 0.5rem;
}
/*!sc*/
data-styled.g256[id="pages___StyledDiv28-sc-1bzqwrs-46"] {
    content: "btNVBC,"
}
/*!sc*/
.cImVXm {
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgba(245,158,11,var(--tw-border-opacity));
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #4c1f01;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(76,31,1,0));
    --tw-gradient-to: #200400;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*!sc*/
data-styled.g257[id="pages___StyledDiv29-sc-1bzqwrs-47"] {
    content: "cImVXm,"
}
/*!sc*/
.fOiFqT {
    font-size: 1.25rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
}
/*!sc*/
data-styled.g258[id="pages___StyledDiv30-sc-1bzqwrs-48"] {
    content: "fOiFqT,"
}
/*!sc*/
.eSuHuB {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g259[id="pages___StyledSpan11-sc-1bzqwrs-49"] {
    content: "eSuHuB,"
}
/*!sc*/
.ewhmxB {
    color: rgba(255,255,255,0.8);
    padding-top: 0.5rem;
}
/*!sc*/
data-styled.g260[id="pages___StyledDiv31-sc-1bzqwrs-50"] {
    content: "ewhmxB,"
}
/*!sc*/
.fjLmCD {
    padding-bottom: 3rem;
}
/*!sc*/
data-styled.g261[id="pages___StyledSection4-sc-1bzqwrs-51"] {
    content: "fjLmCD,"
}
/*!sc*/
.jVeRZe {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g262[id="pages___StyledDiv32-sc-1bzqwrs-52"] {
    content: "jVeRZe,"
}
/*!sc*/
.bQaxol {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g263[id="pages___StyledSpan12-sc-1bzqwrs-53"] {
    content: "bQaxol,"
}
/*!sc*/
.gHwybM {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}
    /*!sc*/
    .gHwybM > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.5rem * var(--tw-space-x-reverse));
        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    }
/*!sc*/
data-styled.g264[id="pages___StyledDiv33-sc-1bzqwrs-54"] {
    content: "gHwybM,"
}
/*!sc*/
.gtGYZX {
    height: 3rem;
}
/*!sc*/
data-styled.g265[id="pages___StyledImg6-sc-1bzqwrs-55"] {
    content: "gtGYZX,"
}
/*!sc*/
.iJwrBJ {
    height: 3rem;
}
/*!sc*/
data-styled.g266[id="pages___StyledImg7-sc-1bzqwrs-56"] {
    content: "iJwrBJ,"
}
/*!sc*/
.eNqzkj {
    height: 3rem;
}
/*!sc*/
data-styled.g267[id="pages___StyledImg8-sc-1bzqwrs-57"] {
    content: "eNqzkj,"
}
/*!sc*/
.boriAN {
    height: 3rem;
}
/*!sc*/
data-styled.g268[id="pages___StyledImg9-sc-1bzqwrs-58"] {
    content: "boriAN,"
}
/*!sc*/
.djrksU {
    height: 3rem;
}
/*!sc*/
data-styled.g269[id="pages___StyledImg10-sc-1bzqwrs-59"] {
    content: "djrksU,"
}
/*!sc*/
.kQGzKo {
    padding-bottom: 3rem;
}
/*!sc*/
data-styled.g270[id="pages___StyledSection5-sc-1bzqwrs-60"] {
    content: "kQGzKo,"
}
/*!sc*/
.hmLWXb {
    padding-bottom: 2.5rem;
}
/*!sc*/
data-styled.g271[id="pages___StyledDiv34-sc-1bzqwrs-61"] {
    content: "hmLWXb,"
}
/*!sc*/
.cYBxOr {
    margin-top: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g272[id="pages___StyledDiv35-sc-1bzqwrs-62"] {
    content: "cYBxOr,"
}
/*!sc*/
.dZKEIP {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g273[id="pages___StyledSpan13-sc-1bzqwrs-63"] {
    content: "dZKEIP,"
}
/*!sc*/
.PgmZN {
    color: rgba(255,255,255,0.8);
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-top: 1rem;
}
/*!sc*/
data-styled.g274[id="pages___StyledDiv36-sc-1bzqwrs-64"] {
    content: "PgmZN,"
}
/*!sc*/
.hNIQta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}
    /*!sc*/
    .hNIQta > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.5rem * var(--tw-space-x-reverse));
        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    }
/*!sc*/
data-styled.g275[id="pages___StyledDiv37-sc-1bzqwrs-65"] {
    content: "hNIQta,"
}
/*!sc*/
.bkobEI {
    height: 13rem;
}
/*!sc*/
data-styled.g276[id="pages___StyledImg11-sc-1bzqwrs-66"] {
    content: "bkobEI,"
}
/*!sc*/
.dyznFS {
    height: 13rem;
}
/*!sc*/
data-styled.g277[id="pages___StyledImg12-sc-1bzqwrs-67"] {
    content: "dyznFS,"
}
/*!sc*/
.frdnZu {
    height: 15rem;
}
/*!sc*/
data-styled.g278[id="pages___StyledImg13-sc-1bzqwrs-68"] {
    content: "frdnZu,"
}
/*!sc*/
.lYMgm {
    padding-bottom: 3rem;
}
/*!sc*/
data-styled.g279[id="pages___StyledSection6-sc-1bzqwrs-69"] {
    content: "lYMgm,"
}
/*!sc*/
.sUqV {
    margin-top: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g280[id="pages___StyledDiv38-sc-1bzqwrs-70"] {
    content: "sUqV,"
}
/*!sc*/
.inCCjb {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g281[id="pages___StyledSpan14-sc-1bzqwrs-71"] {
    content: "inCCjb,"
}
/*!sc*/
.kEIfQs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
    /*!sc*/
    .kEIfQs > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(1rem * var(--tw-space-x-reverse));
        margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
    }
/*!sc*/
data-styled.g282[id="pages___StyledDiv39-sc-1bzqwrs-72"] {
    content: "kEIfQs,"
}
/*!sc*/
.gXvjqr {
    height: 3.5rem;
}
/*!sc*/
data-styled.g283[id="pages___StyledImg14-sc-1bzqwrs-73"] {
    content: "gXvjqr,"
}
/*!sc*/
.hLTHAH {
    height: 6rem;
}
/*!sc*/
data-styled.g284[id="pages___StyledImg15-sc-1bzqwrs-74"] {
    content: "hLTHAH,"
}
/*!sc*/
.enOMGB {
    height: 6rem;
}
/*!sc*/
data-styled.g285[id="pages___StyledImg16-sc-1bzqwrs-75"] {
    content: "enOMGB,"
}
/*!sc*/
.cckkqh {
    height: 3.5rem;
}
/*!sc*/
data-styled.g286[id="pages___StyledImg17-sc-1bzqwrs-76"] {
    content: "cckkqh,"
}
/*!sc*/
.cJPGCP {
    height: 3.5rem;
    border-radius: 9999px;
}
/*!sc*/
data-styled.g287[id="pages___StyledImg18-sc-1bzqwrs-77"] {
    content: "cJPGCP,"
}
/*!sc*/
.kebNux {
    height: 3.5rem;
    border-radius: 9999px;
}
/*!sc*/
data-styled.g288[id="pages___StyledImg19-sc-1bzqwrs-78"] {
    content: "kebNux,"
}
/*!sc*/
.caoKKm {
    height: 3.5rem;
    border-radius: 9999px;
}
/*!sc*/
data-styled.g289[id="pages___StyledImg20-sc-1bzqwrs-79"] {
    content: "caoKKm,"
}
/*!sc*/
.jOMHhF {
    height: 3.5rem;
    border-radius: 9999px;
}
/*!sc*/
data-styled.g290[id="pages___StyledImg21-sc-1bzqwrs-80"] {
    content: "jOMHhF,"
}
/*!sc*/
.dfVmwH {
    height: 3.5rem;
    border-radius: 9999px;
}
/*!sc*/
data-styled.g291[id="pages___StyledImg22-sc-1bzqwrs-81"] {
    content: "dfVmwH,"
}
/*!sc*/
.dONPRu {
    padding-bottom: 3rem;
}
/*!sc*/
data-styled.g292[id="pages___StyledSection7-sc-1bzqwrs-82"] {
    content: "dONPRu,"
}
/*!sc*/
.eALslW {
    margin-top: 2rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
    font-weight: 700;
    font-family: high-speed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
}
/*!sc*/
data-styled.g293[id="pages___StyledDiv40-sc-1bzqwrs-83"] {
    content: "eALslW,"
}
/*!sc*/
.fCBZsM {
    -webkit-background-clip: text;
    background-clip: text;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(to bottom,var(--tw-gradient-stops));
    --tw-gradient-from: #f2f2f2;
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(242,242,242,0));
    --tw-gradient-to: #6f6f6f;
}
/*!sc*/
data-styled.g294[id="pages___StyledSpan15-sc-1bzqwrs-84"] {
    content: "fCBZsM,"
}
/*!sc*/
.bBVLsv {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}
    /*!sc*/
    .bBVLsv > :not([hidden]) ~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(0.5rem * var(--tw-space-x-reverse));
        margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
    }
/*!sc*/
data-styled.g295[id="pages___StyledDiv41-sc-1bzqwrs-85"] {
    content: "bBVLsv,"
}
/*!sc*/
.giYYWr {
    height: 6rem;
}
/*!sc*/
data-styled.g296[id="pages___StyledImg23-sc-1bzqwrs-86"] {
    content: "giYYWr,"
}
